* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 233, 220, 0.897);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 2.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
span {
  font-weight: 600;
  font-size: large;
}

label input:checked + span {
  color: gray;
  text-decoration: line-through;
}
input:checked {
  background-color: none;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

input[type="text"] {
  width: 30rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #1885f1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
